.c-compostBillboard{
	@include imgPath('https://rustbeltriders.com/stage/img/compost_piles.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}