.c-footerContact{
	min-height: calc(#{$unit--1}*20);
	background-color: $color--offBlack;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem $unit--1;
}

.c-footerSocialList{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 2rem;
}

.c-footerSocialList__socialIcon{
	width: 3rem;
	height: 3rem;
	margin: 0 1rem;
}

.c-footerSocialList__socialIcon:first-child{
	margin-left: 0;
}


.c-footerPhoneEmailStreet{
	color: $color--white;
	width: 100%;

	span{
		font-weight: 600;
	}
}

.c-footerPhoneEmailStreet__item{
	margin-bottom: $unit--2;
}

@media screen and (min-width: $tablet--sm){
	.c-footerContact{
		flex-direction: row;
	}

	.c-footerSocialList{
		justify-content: flex-start;
		width: 50%;
	}

	.c-footerSocialList__socialIcon:first-child{
		margin-left: 0;
	}

	.c-footerPhoneEmailStreet{
		width: 50%;
	}
}