.c-homeLinkList{
	li{
		margin-bottom: $unit--3;
	}
}

.c-homeLinkList__item{
	font-weight: 600;
	padding: $unit--1 0;

	&:hover{
		background-color: $color--greenPale;
	}
}

.c-homeLists{
	margin-bottom: calc(#{$unit--12}*3);
}