.c-measurableResults{
	margin: calc(#{$unit--12}*3) 0;
	padding: 0 8%;
}

.c-measurableResults__desc{
	padding-right: 10%;
}

.c-resultBlock__wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.c-resultBlock{
	padding-right: 5%;
}

.c-resultBlock__icon{
	width: $unit--9;
}

.c-resultBlock__head{
	color: $color--greenBlack;
	margin-top: $unit--4;
	font-size: 1.5rem;
	line-height: $unit--4;
}

.c-resultBlock__text{
	color: $color--greenDark;
	margin-top: $unit--2;
	line-height: $unit--3;
}

.c-resultBlock__caption{
	font-size: 0.75rem;
	line-height: $unit--3;
	color: $color--greenBlack;
	font-style: italic;
	border-top: 1px solid $color--greenBright;
	padding-top: $unit--2;
	margin-top: $unit--6;
}

@media screen and (min-width: $tablet--sm){

}