.c-navDropdown{
	position: relative;	
	z-index: 1;
}

.c-navDropdown:hover{
	cursor: pointer;
}

.c-navDropdown__menu{
	background-color: $color--white;
	box-shadow: 0px 0px 3px transparentize($color--offBlack, 0.5);
	border-radius: 2px;
	position: absolute;
	top: 100%;
	min-width: 100%;
	width: auto;
	display: none;
}

.c-navDropdown__menu.show{
	left: 0;
	display: block;
}

.c-navDropdown__link{
	font-size: rem(14);
	display: block;
	cursor: pointer;
	white-space: nowrap;
	width: 100%;
	padding: unit(12);
}