$primaryNavHeight: unit(60);

.c-topNav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	height: $primaryNavHeight;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding: 0 unit(12);

	background-color: transparentize($color--white, 0.15);
}

.c-topNav__home{
	color: $color--offBlack;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-right: auto;
}

.c-topNav__list{
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}

.c-topNav__item{
	margin-left: auto;
}

.c-topNav__button{
	@extend %ac-button;
	background-color: $color--red;
}
